<footer data-c-padding="tb(2)" data-c-border="top(thin, solid, gray)">
    <div data-c-container="base(large, center)">
        <div data-c-grid="gutter(all, 1) middle">
            <div 
                data-c-grid-item="base(1of1) tl(2of3)"
                data-c-align="base(center) tl(left)">
                <ul>
                    <li>
                        <a href="mailto:talent.cloud-nuage.de.talents@tbs-sct.gc.ca" title="Email us with feedback about Talent Cloud.">Feedback</a>
                    </li>
                    <li>
                        <a href="https://talent.canada.ca/en/tos" title="View Talent Cloud's terms and conditions.">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="https://talent.canada.ca/en/privacy" title="View Talent Cloud's privacy policy.">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://canada.ca" title="Visit Canada.ca.">Canada.ca</a>
                    </li>
                </ul>
                <p 
                    data-c-font-size="small"
                    data-c-margin="top(1)"
                    data-c-color="gray">Last Updated: YYYY/MM/DD</p>
            </div>
            <div 
                data-c-grid-item="base(1of1) tl(1of3)"
                data-c-align="base(center) tl(right)">
                <a class="logo" href="https://canada.ca/" title="Visit Canada.ca">
                    <img src="$ROOT/img/logo-canada-color.png" alt="The logotype for the government of Canada.">
                </a>
            </div>
        </div>
    </div>
</footer>