<div aria-hidden="true" aria-describedby="example-dialog-01-description" aria-labelledby="example-dialog-01-title" data-c-dialog data-c-dialog-escapable data-c-dialog-id="example-dialog-01" data-c-padding="tb(2)" role="dialog">
    <div data-c-background="white(100)" data-c-radius="rounded" data-c-margin="bottom(2)">
        <div data-c-background="c1(100)" data-c-padding="tb(1) right(3) left(1)" data-c-border="bottom(thin, solid, black)">
            <h5 
                data-c-color="white" 
                data-c-font-size="h4" 
                id="example-dialog-01-title" 
                data-c-font-weight="bold"
                data-c-dialog-focus>Assessment Details</h5>
            <p data-c-color="white" data-c-font-size="h5" data-c-margin="top(.5)">Below you will find granular information about the assessment you selected.</p>
            <button data-c-dialog-action="close" data-c-dialog-id="example-dialog-01" type="button">
                <span data-c-color="white" data-c-font-weight="bold" data-c-font-size="h3">x</span>
            </button>
        </div>
        <div data-c-border="bottom(thin, solid, black)" data-c-padding="all(1)">
            <div 
                id="example-dialog-01-description" 
                data-c-grid="gutter(all, 1)">
                <div data-c-grid-item="base(1of2)">
                    <p 
                        data-c-font-size="small"
                        data-c-color="gray">Unique ID: 234546345</p>
                </div>
                <div data-c-grid-item="base(1of2)" data-c-align="base(right)">
                    <p 
                        data-c-font-size="small"
                        data-c-color="gray">Issued by Talent Cloud</p>
                </div>
                <div data-c-grid-item="base(1of2)">
                    <p data-c-font-weight="bold">Assessment:</p>
                    <p data-c-margin="top(.25)">Written Exam</p>
                </div>
                <div data-c-grid-item="base(1of2)">
                    <p data-c-font-weight="bold">Assessed by:</p>
                    <p data-c-margin="top(.25)">Franca Middleby</p>
                </div>
                <div data-c-grid-item="base(1of2)">
                    <p data-c-font-weight="bold">Level Assessed:</p>
                    <p data-c-margin="top(.25)">Intermediate</p>
                </div>
                <div data-c-grid-item="base(1of2)">
                    <p data-c-font-weight="bold">Pass Ratio:</p>
                    <p data-c-margin="top(.25)">32%</p>
                </div>
                <div data-c-grid-item="base(1of1)">
                    <p data-c-font-weight="bold">Assessment Criteria Notes:</p>
                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                </div>
                <div data-c-grid-item="base(1of3)">
                    <p data-c-font-weight="bold">Date Issued:</p>
                    <p data-c-margin="top(.25)">YYYY/MM/DD</p>
                </div>
                <div data-c-grid-item="base(1of3)">
                    <p data-c-font-weight="bold">Status:</p>
                    <p data-c-margin="top(.25)" data-c-color="go">Valid</p>
                </div>
                <div data-c-grid-item="base(1of3)">
                    <p data-c-font-weight="bold">Expiry:</p>
                    <p data-c-margin="top(.25)" data-c-color="gray">N/A</p>
                </div>
            </div>
        </div>
        <div data-c-padding="all(1)">
            <div data-c-grid="gutter(all, 1) middle">
                <div data-c-grid-item="base(1of1)" data-c-alignment="base(right)">
                    <button 
                        data-c-button="solid(go)" 
                        data-c-radius="rounded" 
                        data-c-dialog-action="close" 
                        data-c-dialog-id="example-dialog-01">
                        Close Details
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
