<!DOCTYPE html>
<html lang="en">
    <head>
        {# Site Title #}
        <title>Talent Cloud: Skill Assessment Record Demo</title>
        {# Charset #}
        <meta charset="utf-8" />
        {# Compatibility #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Generic Google Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext" rel="stylesheet">
        {# Material Icons #}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# Your CSS #}
        <link async href="$ROOT/css/app.css" rel="stylesheet">
        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">
    </head>
    {# Playground's Body #}
    <body data-clone>
        {% include "../components/header.twig" with {"title": "Step 03: View a Verified Skill", "subtitle": "This page simulates the applicant reviewing their newly verified skill.", "number": "03", "breadcrumb": "View a Verified Skill" } %}
        <div data-c-padding="bottom(3)">
            <div data-c-container="base(large, center)">
                <div data-c-grid="">
                    <div data-c-grid-item="base(1of1) tl(1of4)">
                        <div data-c-padding="top(3)">
                            <p
                                data-c-font-weight="bold"
                                data-c-font-size="h4"
                                data-c-margin="bottom(1)">On your profile:</p>
                            <p data-c-margin="bottom(.5)">
                                <a href="" title="">My Experience</a>
                            </p>
                            <p 
                                data-c-color="c2"
                                data-c-font-weight="bold"
                                data-c-margin="bottom(.5)">My Skills</p>
                            <p data-c-margin="bottom(.5)">
                                <a href="" title="">My References</a>
                            </p>
                            <p>
                                <a href="" title="">Account Settings</a>
                            </p>
                        </div>
                    </div>
                    <div data-c-grid-item="base(1of1) tl(3of4)">
                        <div data-c-padding="top(3)">
                            <div data-c-grid="gutter(all, 1) middle">
                                <div 
                                    data-c-align="base(center) tl(left)"
                                    data-c-grid-item="base(1of1) tl(2of3)">
                                    <h2 data-c-font-size="h2">My Skills</h2>
                                </div>
                                <div 
                                    data-c-align="base(center) tl(right)"
                                    data-c-grid-item="base(1of1) tl(1of3)">
                                    <button 
                                        data-c-button="solid(c1)" 
                                        data-c-radius="rounded"
                                        type="button"
                                        data-c-dialog-id="example-dialog-01">
                                        <span>+ Add a Skill</span>
                                    </button>
                                </div>
                            </div>
                            <hr 
                                data-c-hr="thin(gray)"
                                data-c-margin="tb(1)">
                            <div data-c-container="base(medium, left)">
                                <p>Here you will find a list of your skills, separated into 2 main groups: <strong>claimed skills</strong> and <strong>verified skills</strong>. These skills define your areas of expertise using evidence that you supply by relating skills to your past and current experiences. You can add a skill to your profile using the "Add a Skill" button above.</p>
                            </div>
                            <h3
                                data-c-heading="h3"
                                data-c-padding="top(3)"
                                data-c-margin="bottom(1)">My Claimed Skills</h3>
                                <p data-c-margin="bottom(1)">Claimed skills are the skills that you have that have not yet been verified through a standardized assessment. These skills offer initial insight into your abilities and how your experiences showcase your level of expertise.</p>
                            {# Claimed Skills #}
                            <div data-c-accordion-group>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold">User Interface Design</p>
                                            <p data-c-margin="top(.25)" data-c-color="gray">Claimed, Unverified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">User Interface Design</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Advanced</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(left)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="outline(stop)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Delete this Skill</span>
                                                    </button>
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="solid(c1)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Edit this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold">Public Speaking</p>
                                            <p data-c-margin="top(.25)" data-c-color="gray">Claimed, Unverified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">Public Speaking</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Beginner</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(left)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="outline(stop)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Delete this Skill</span>
                                                    </button>
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="solid(c1)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Edit this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold">Digital Marketing</p>
                                            <p data-c-margin="top(.25)" data-c-color="gray">Claimed, Unverified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">Digital Marketing</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Expert</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(left)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="outline(stop)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Delete this Skill</span>
                                                    </button>
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="solid(c1)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Edit this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Verified Skills #}
                            <h3
                                data-c-heading="h3"
                                data-c-padding="top(3)"
                                data-c-margin="bottom(1)">My Verified Skills</h3>
                            <p data-c-margin="bottom(1)">Verified skills are skills that you have been assessed on during a government hiring process. Based on your results during the assessment, the manager decides to verify that you have the skill at the level you've claimed. Assessment allows these skills to offer more robust, verifiable evidence. Please note that some verified skills can expire over a period of time and will be changed from <span data-c-color="go">Verified</span> to <span data-c-color="stop">Expired</span> if the expiration date is reached and a new assessment hasn't taken place.</p>
                            <div data-c-accordion-group>
                                <div 
                                    id="newSkill"
                                    data-c-alert="information"
                                    data-c-margin="tb(.5)" 
                                    data-c-radius="rounded" 
                                    role="alert">
                                    <div data-c-padding="all(.5)">
                                        <p data-c-margin="bottom(.25)" data-c-font-weight="bold" class="tc-inline-icon"><i class="material-icons" data-c-color="c1" data-c-margin="right(.5)">info</i>Skill Verified!
                                        </p>
                                        <p>Below you'll find the example skill as seen by the applicant after it has been verified through assessment. This is the last step in the demo but if you'd like to return to the homepage, <a href="$ROOT/" title="Proceed to the demo homepage.">proceed to the index</a>.</p>
                                    </div>
                                </div>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold" class="tc-inline-icon"><i class="material-icons" data-c-color="go" data-c-margin="right(.5)">verified_user</i>Design Research</p>
                                            <p data-c-margin="top(.25)" data-c-color="go">Claimed, Verified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">Design Research</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Intermediate</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Assessments</p>
                                                    <p data-c-margin="top(.25)">Below are a list of verified assessments you have passed, the date you were assessed, as well as the person who issued each one.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <div
                                                        data-c-border="all(thin, solid, gray)"
                                                        data-c-radius="rounded"
                                                        data-c-padding="all(1)">
                                                        <div data-c-grid="gutter(all, 1) middle">
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Assessment:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Level:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Assessed by:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Status:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Expiry:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Tools:</p>
                                                            </div>
                                                            {# First Assessment #}
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Written Exam</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Intermediate</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Franca Middleby</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="go">Valid</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="gray">N/A</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <button data-c-button="solid(c1)" data-c-radius="rounded" data-c-dialog-id="example-dialog-01">View Details</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(left)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="outline(stop)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Delete this Skill</span>
                                                    </button>
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="solid(c1)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Edit this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold" class="tc-inline-icon"><i class="material-icons" data-c-color="go" data-c-margin="right(.5)">verified_user</i>Database Architecture</p>
                                            <p data-c-margin="top(.25)" data-c-color="stop">Claimed, Expired</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">Database Architecture</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Beginner</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Assessments</p>
                                                    <p data-c-margin="top(.25)">Below are a list of verified assessments you have passed, the date you were assessed, as well as the person who issued each one.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <div
                                                        data-c-border="all(thin, solid, gray)"
                                                        data-c-radius="rounded"
                                                        data-c-padding="all(1)">
                                                        <div data-c-grid="gutter(all, 1) middle">
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Assessment:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Level:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Assessed by:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Status:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Expiry:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Tools:</p>
                                                            </div>
                                                            {# First Assessment #}
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Interview</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Beginner</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Trisha Jackson</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="stop">Expired</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="stop">YYYY/MM/DD</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <button data-c-button="solid(c1)" data-c-radius="rounded">View Details</button>
                                                            </div>
                                                            {# Second Assessment #}
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Written Exam</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Beginner</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Trisha Jackson</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="stop">Expired</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="stop">YYYY/MM/DD</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <button data-c-button="solid(c1)" data-c-radius="rounded">View Details</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(left)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="outline(stop)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Delete this Skill</span>
                                                    </button>
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1) tp(1of2)">
                                                    <button 
                                                        data-c-button="solid(c1)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Edit this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        {% include "../components/footer.twig" %}
        <div data-c-dialog-overlay></div>
        {% include "details-dialog.twig" %}
        {# Clone's JavaScript #}
        <script src="$ROOT/js/clone/clone.min.js"></script>
        {# Your JavaScript #}
        <script src="$ROOT/js/app.js"></script>
    </body>
</html>
