<!DOCTYPE html>
<html lang="en">
    <head>
        {# Site Title #}
        <title>Talent Cloud: Verified Credential Demo</title>
        {# Charset #}
        <meta charset="utf-8" />
        {# Compatibility #}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Generic Google Fonts #}
        <link href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext" rel="stylesheet">
        {# Material Icons #}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# Your CSS #}
        <link async href="$ROOT/css/app.css" rel="stylesheet">
        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">
    </head>
    {# Playground's Body #}
    <body data-clone>
        {% include "../../components/header.twig" with {"title": "Step 02: Verify a Skill", "subtitle": "This page simulates a manager reviewing a skill claim and verifying it using one of many assessment methods.", "number": "02", "breadcrumb": "Verify a Skill" } %}
        <div data-c-background="c1(100)" data-c-padding="tb(1)">
            <div data-c-container="base(large, center)">
                <div data-c-grid="gutter(all, 1)">
                    <div data-c-grid-item="base(1of3)" data-c-align="base(left)">
                        <a 
                            href=""
                            title=""
                            data-c-color="white">< Previous Applicant</a>
                    </div>
                    <div data-c-grid-item="base(1of3)" data-c-align="base(center)">
                        <p 
                            data-c-color="white"
                            data-c-font-weight="bold">Jennifer Grand</p>
                    </div>
                    <div data-c-grid-item="base(1of3)" data-c-align="base(right)">
                        <a 
                            href=""
                            title=""
                            data-c-color="white">Next Applicant ></a>
                    </div>  
                </div>
            </div>
        </div>
        <div data-c-padding="bottom(3)">
            <div data-c-container="base(large, center)">
                <div data-c-grid="">
                    <div data-c-grid-item="base(1of1) tl(1of4)">
                        <div data-c-padding="top(3)">
                            <p
                                data-c-font-weight="bold"
                                data-c-font-size="h4"
                                data-c-margin="bottom(1)">Jennifer's Application:</p>
                            <p data-c-margin="bottom(.5)">
                                <a href="" title="">Experience</a>
                            </p>
                            <p 
                                data-c-color="c2"
                                data-c-font-weight="bold"
                                data-c-margin="bottom(.5)">Skills</p>
                            <p data-c-margin="bottom(.5)">
                                <a href="" title="">References</a>
                            </p>
                        </div>
                    </div>
                    <div data-c-grid-item="base(1of1) tl(3of4)">
                        <div>
                            {# Verified Skills #}
                            <h3
                                data-c-heading="h3"
                                data-c-padding="top(3)"
                                data-c-margin="bottom(1)">Jennifer's Verified Skills</h3>
                            <p data-c-margin="bottom(1)">Verified skills are skills that you have been assessed on during a government hiring process. Based on your results during the assessment, the manager decides to verify that you have the skill at the level you've claimed. Assessment allows these skills to offer more robust, verifiable evidence. Please note that some verified skills can expire over a period of time and will be changed from <span data-c-color="go">Verified</span> to <span data-c-color="stop">Expired</span> if the expiration date is reached and a new assessment hasn't taken place.</p>
                            <div data-c-accordion-group>
                                <div 
                                    id="skill"
                                    data-c-alert="information"
                                    data-c-margin="tb(.5)" 
                                    data-c-radius="rounded" 
                                    role="alert">
                                    <div data-c-padding="all(.5)">
                                        <p data-c-margin="bottom(.5)" data-c-font-weight="bold"><span data-c-font-size="h4" data-c-margin="right(.25)">(!)</span>Skill Verified!
                                        </p>
                                        <p>For demo purposes, we've simulated the skill being verified. You can view it below. If you're ready to progress to the next step of the demo, <a href="$ROOT/03-view-verified-skill" title="Proceed to step 03 of the demo.">proceed to step 03: view a verified skill</a>.</p>
                                    </div>
                                </div>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold">Design Research</p>
                                            <p data-c-margin="top(.25)" data-c-color="go">Claimed, Verified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">Design Research</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Intermediate</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Supporting Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">My Assessments</p>
                                                    <p data-c-margin="top(.25)">Below are a list of the assessments that you have performed on this applicant's skill. Assessments performed by others can be seen below.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <div
                                                        data-c-border="all(thin, solid, gray)"
                                                        data-c-radius="rounded"
                                                        data-c-padding="all(1)">
                                                        <div data-c-grid="gutter(all, 1) middle">
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Assessment:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Level:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Assessed by:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Status:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Expiry:</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p
                                                                    data-c-color="c1"
                                                                    data-c-font-weight="600">Tools:</p>
                                                            </div>
                                                            {# First Assessment #}
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Written Exam</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Intermediate</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p>Franca Middleby</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="go">Valid</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <p data-c-color="gray">N/A</p>
                                                            </div>
                                                            <div data-c-grid-item="base(1of6)">
                                                                <button data-c-button="solid(c1)" data-c-radius="rounded" data-c-dialog-id="example-dialog-01">View / Edit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Other Assessments</p>
                                                    <p data-c-margin="top(.25) bottom(.5)">These are assessments that have been performed by other managers or institutions.</p>
                                                    <div
                                                        data-c-radius="rounded"
                                                        data-c-border="all(thin, solid, gray)"
                                                        data-c-background="gray(10)"
                                                        data-c-align="base(center)"
                                                        data-c-padding="tb(1)">
                                                        <div data-c-container="base(small, center)">
                                                            <span data-c-color="gray">No other assessments have been performed.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1))">
                                                    <button 
                                                        data-c-button="solid(go)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Verify this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3
                                data-c-heading="h3"
                                data-c-padding="top(3)"
                                data-c-margin="bottom(1)">Jennifer's Claimed Skills</h3>
                                <p data-c-margin="bottom(1)">Claimed skills are the skills that you have that have not yet been verified through a standardized assessment. These skills offer initial insight into your abilities and how your experiences showcase your level of expertise.</p>
                            {# Claimed Skills #}
                            <div data-c-accordion-group>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold">User Interface Design</p>
                                            <p data-c-margin="top(.25)" data-c-color="gray">Claimed, Unverified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">User Interface Design</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Advanced</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Supporting Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1))">
                                                    <button 
                                                        data-c-button="solid(go)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Verify this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold">Public Speaking</p>
                                            <p data-c-margin="top(.25)" data-c-color="gray">Claimed, Unverified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">Public Speaking</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Beginner</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Supporting Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1))">
                                                    <button 
                                                        data-c-button="solid(go)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Verify this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-c-accordion data-c-card data-c-radius="rounded" class="tc-skill-accordion" data-c-margin="top(.25)">
                                    <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
                                        <div data-c-padding="all(1)">
                                            <p data-c-font-weight="bold">Digital Marketing</p>
                                            <p data-c-margin="top(.25)" data-c-color="gray">Claimed, Unverified</p>
                                        </div>
                                        <span data-c-visibility="invisible">Click to view...</span>
                                        <i aria-hidden="true" data-c-accordion-add data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">+</i>
                                        <i aria-hidden="true" data-c-accordion-remove data-c-color="c1" data-c-font-size="h3" data-c-font-weight="bold">-</i>
                                    </button>
                                    <div aria-hidden="true" data-c-border="top(thin, solid, gray)" data-c-accordion-content data-c-padding="rl(1)">
                                        <div data-c-padding="tb(1)">
                                            <div data-c-grid="gutter(all, 1)">
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Skill Name</p>
                                                    <p data-c-margin="top(.25)">Digital Marketing</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1) tp(1of2)">
                                                    <p data-c-font-weight="bold">Level Claimed</p>
                                                    <p data-c-margin="top(.25)">Expert</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Skill Description</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <p data-c-font-weight="bold">Supporting Evidence</p>
                                                    <p data-c-margin="top(.25)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet hendrerit mauris vitae lacinia. Mauris sollicitudin porta lorem, et consequat ipsum. Nulla vel purus eu metus tristique tincidunt. Proin in fringilla ipsum, a fermentum quam. Praesent finibus massa urna, eu scelerisque mauris sodales nec.</p>
                                                </div>
                                                <div data-c-grid-item="base(1of1)">
                                                    <hr data-c-hr="thin(gray)" data-c-margin="tb(.5)">
                                                </div>
                                                <div 
                                                    data-c-align="base(center) tp(right)"
                                                    data-c-grid-item="base(1of1))">
                                                    <button 
                                                        data-c-button="solid(go)" 
                                                        data-c-radius="rounded"
                                                        type="button">
                                                        <span>Verify this Skill</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "../../components/footer.twig" %}
        <div data-c-dialog-overlay></div>
        {% include "../verify-dialog.twig" %}
        {# Clone's JavaScript #}
        <script src="$ROOT/js/clone/clone.min.js"></script>
        {# Your JavaScript #}
        <script src="$ROOT/js/app.js"></script>
    </body>
</html>
